@{
    Layout = null;
}
<script src="~/Scripts/polling.js"></script>
<script src="~/Scripts/ajax_goto.js"></script>
<script src="~/Scripts/submit_coursequestion.js"></script>
@using ZZULIWeb.Models
@model ZZULIWeb.Move



<!--发表提问-->
<form class="submitform" data-id="@(Model.Cou_ID)|@(Model.Mov_ID)|">
    @if (Common.UserInfo != null)
    {
        <img src="~/images/userImg/@(Common.UserInfo.User_ID).png" />
    }
    <textarea id="title"></textarea>
    <textarea id="content"></textarea>
    <input type="button" class="submit_coursequestion" value="我要提问" />
</form>
<!--问题内容-->
<ul>
    @if (ViewBag.CQList == null || ViewBag.CQList.Count <= 0)
    {
        <div id="content-null">
            <p>该课程还没有内容！</p>
        </div>
    }
    else
    {
        foreach (CoursesQuestions cq in ViewBag.CQList)
        {
            <li>
                <img src="~/images/userImg/@(cq.User_ID).png" />
                <div>
                    <h2>@cq.UserInfo.User_NickName</h2>
                    <h2><p>@cq.CQ_Title</p></h2>
                    <p>
                        @if (cq.CQ_Content.Length > 40)
                        { @Html.Raw(cq.CQ_Content.Substring(0, 40) + "...");
                        }
                        else
                        { @Html.Raw(cq.CQ_Content);
                        }
                    </p>
                    <a href="#">@Common.GetTimeStringToNow(cq.CQ_Time)</a>
                    <span>浏览 @cq.CQ_PageView</span>
                    <span>回复 @(new Question().GetCourseAnswerNum(cq.CQ_ID))</span>
                </div>
            </li>
        }
    }
</ul>

@{
    if (ViewBag.pageNum > 1)
    {
            <!--分页导航-->
        <div class="page_nav">
            @if (ViewBag.CurrentPageIndex == 1)
            {
                <a class="page_disabled">首页</a>
                <a class="page_disabled">上一页</a>
            }
            else
            {
                <a href="javascript:;" class="ajax_goto" data-id="@(Model.Mov_ID)|0" id="cq">首页</a>
                <a href="javascript:;" class="ajax_goto" data-id="@(Model.Mov_ID)|(@ViewBag.CurrentPageIndex - 1)" id="cq">上一页</a>
            }
            <p>
                @{
        if (ViewBag.pageNum <= 10)
        {
            for (int i = 1; i <= ViewBag.pageNum; i++)
            {
                if (ViewBag.CurrentPageIndex == i)
                {
                    <a href="javascript:;" class="ajax_goto page_action" data-id="@(Model.Mov_ID)|@i" id="cq">@i</a>
                }
                else
                {
                    <a href="javascript:;" class="ajax_goto" data-id="@(Model.Mov_ID)|@i" id="cq">@i</a>
                }
            }
        }
        else if (ViewBag.CurrentPageIndex <= ViewBag.pageNum)
        {
            int startIndex = ViewBag.CurrentPageIndex - 5 > 0 ? ViewBag.CurrentPageIndex - 5 : 1;
            if (ViewBag.pageNum - ViewBag.CurrentPageIndex <= 4)
            {
                startIndex = ViewBag.pageNum - 9;
            }
            int n = 1;
            while (n <= 10)
            {
                if (ViewBag.CurrentPageIndex == startIndex)
                {
                    <a href="javascript:;" class="ajax_goto page_action" data-id="@(Model.Mov_ID)|@startIndex" id="cq">@startIndex</a>
                }
                else
                {
                    <a href="javascript:;" class="ajax_goto" data-id="@(Model.Mov_ID)|@startIndex" id="cq">@startIndex</a>
                }
                startIndex++;
                n++;
            }
        }
                }
            </p>
            @if (ViewBag.CurrentPageIndex == ViewBag.pageNum)
            {
                <a class="page_disabled">下一页</a>
                <a class="page_disabled">尾页</a>
            }
            else
            {
                <a href="javascript:;" class="ajax_goto" data-id="@(Model.Mov_ID)|@(ViewBag.CurrentPageIndex + 1)" id="cq">下一页</a>
                <a href="javascript:;" class="ajax_goto" data-id="@(Model.Mov_ID)|@ViewBag.pageNum" id="cq">尾页</a>
            }
        </div>
    }
}
